<!-- This goes on every page (site-footer) -->
<footer class="h-14 w-full">
    <section class="relative flex items-center justify-between border-t-2 border-black py-3 mx-4">
        <div class="font-bold text-fuchsia-600">
            <span id="clockDate" class="text-black"></span>
            ::
            <span id="clockTime" class="text-black"></span>
            <span id="clockMeridian"></span>
        </div>
        <div>
            <ul class="social-links w-full flex">
                <li>
                    <a href="#" class="block px-2">
                        <object data="../assets/img/icons/github-square-brands.svg" width="24" height="24"
                            class="hover:bg-gray-400"></object>
                    </a>
                </li>
                <li>
                    <a href="#" class="block px-2">
                        <object data="../assets/img/icons/linkedin-brands.svg" width="24" height="24"
                            class="hover:bg-gray-400"></object>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</footer>