<!-- Header WITH HERO IMAGE -->
<header class="flex flex-col items-center mt-6">
    <img class="rounded-md h-60 w-full" src="https://source.unsplash.com/random/?computer">
    <div class="flex flex-col self-start my-7 w-4/5">
        <h1 class="text-4xl font-medium">Project Title</h1>
        <div class="flex mt-4 font-normal">
            <span class="mr-4">01/01/2022</span>
            |
            <div class="ml-4 flex justify-around w-1/2">
                <a href="Tags.html">tag1</a>
                <span class="text-fuchsia-600">/</span>
                <a href="Tags.html">tag2</a>
                <span class="text-fuchsia-600">/</span>
                <a href="Tags.html">tag3</a>
            </div>
        </div>
    </div>
</header>