<!-- Next Newest Article -->
<article class="flex flex-col justify-around mb-4">
    <!-- Article Title -->
    <h2 class="text-xl font-medium">
        <a href="#">Blog Title</a>
    </h2>
    <!-- Article Subtitle Container -->
    <div class="flex mt-2 text-sm border-b border-black pb-2">
        <!-- Date -->
        <span class="mr-4">01/01/2022</span>
        |
        <!-- Category Tag Container -->
        <div class="ml-4 flex justify-around w-2/5">
            <!-- Category Tags for Article -->
            <a href="Tags.html">tag1</a>
            <span class="text-fuchsia-600">/</span>
            <a href="Tags.html">tag2</a>
            <span class="text-fuchsia-600">/</span>
            <a href="Tags.html">tag3</a>
        </div>
    </div>
    <!-- Article Excerpt -->
    <p class="text-xs font-normal mt-2 leading-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar pellentesque amet, maecenas
        convallis cursus faucibus neque. Nibh id pellentesque faucibus sem amet pellentesque feugiat
        quis magna. Amet etiam vulputate purus sagittis, mauris odio enim etiam.
    </p>
</article>