<!-- Pagination -->
<nav class="flex justify-between">
    <!-- Newer post nav link with page forward svg -->
    <a href="#" class="flex items-center font-medium ml-2">
        Next Post
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1.5em"
            height="1.5em" preserveaspectratio="xMidYMid meet" viewbox="0 0 24 24">
            <path class="fill-current text-fuchsia-600"
                d="M7.707 17.707L13.414 12L7.707 6.293L6.293 7.707L10.586 12l-4.293 4.293zM15 6h2v12h-2z" />
        </svg>
    </a>
</nav>