<!-- Project w/img -->
<div class="flex flex-col mx-4 my-4 bg-slate-100">
    <!-- Project Card Container -->
    <a href="Project-Post.html">
        <div class="flex justify-start">
            <!-- Project Card Img -->
            <img src="https://source.unsplash.com/random/96x96/?program" />
            <!-- Project Card Details Container -->
            <div class="ml-4 flex flex-col p-2">
                <!-- Project Card Details -->
                <p class="font-bold">Application Name</p>
                <p>Short Description</p>
                <p class="text-fuchsia-600">Framework</p>
            </div>
        </div>
    </a>
</div>