@tailwind base;
@tailwind components;
@tailwind utilities;

.styled-scrollbars {
    /* Foreground, Background */
    scrollbar-color: #e5c07b #dcdfe4;
}

.styled-scrollbars::-webkit-scrollbar {
    width: 12px;
    background-color: #dcdfe4;
    /* Mostly for vertical scrollbars */
}

.styled-scrollbars::-webkit-scrollbar-thumb {
    /* Foreground */
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background: #e5c07b;
    border-radius: 10px;
}

.styled-scrollbars::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #dcdfe4;
}