@tailwind base;
@tailwind components;
@tailwind utilities;

.styled-scrollbars {
    /* Foreground, Background */
    scrollbar-color: #e5c07b;
}

.styled-scrollbars::-webkit-scrollbar {
    width: 6px;
    /* Mostly for vertical scrollbars */
}

.styled-scrollbars::-webkit-scrollbar-thumb {
    /* Foreground */
    background: #e5c07b;
    border-radius: 10px;
}

.styled-scrollbars::-webkit-scrollbar-track {
    border-radius: 10px;
}